<ul class="container">
  <!-- 
  <li class="txt" *ngFor="let item of items | async ">
    
    <div *ngIf="item.type==='string'">
      {{item.question}}
      <input  class="Answer" type="text" placeholder="{{item.placeholderText}}">
    </div>
    <div *ngIf="item.type==='mail'">
      {{item.question}}
      <input  class="Answer" type="email" placeholder="{{item.placeholderText}}">
    </div>
  </li>
-->
  <!-- <li class="txt" *ngFor="let option of options | async ">
    {{option.question}}
    <form class="customCheckBox" >
      <input  class="checkboxAnswer" type="checkbox" name="opA" value="a">
      <label for="opA"> {{option.id}}</label><br>
      <input  class="checkboxAnswer" type="checkbox" name="opB" value="b">
      <label for="opB"> {{option.b}}</label><br>
    </form>
  </li>  -->

  <li class="txt" *ngFor="let sprueba of prueba | async ">
    {{sprueba.q}}
    <ng-container *ngIf="sprueba.id=='Q1'">
      <li *ngFor="let s of sPrueba | async">
        <input class="chckBx" type="checkbox" value="{{s.q}}"> {{s.q}}
      </li>
    </ng-container>
    <ng-container *ngIf="sprueba.id=='Q2'">
      <li *ngFor="let s of sPrueba2 | async">
        <input class="chckBx" type="checkbox" value="{{s.q}" >{{s.q}}
      </li>
    </ng-container>
    <ng-container *ngIf="sprueba.id=='Q3'">
      <li *ngFor="let s of sPrueba3 | async">
        <input class="chckBx" type="checkbox" value="{{s.q}" >{{s.q}}
      </li>
    </ng-container>
  </li>
  <button (click)="ShowMsg()" class="cstmButton">Print</button>
</ul>


